<h1>Search the Pathways!</h1>

<%= form_tag("search", :method => "get") do %>
    <%= label_tag(:schoolSearch, "School:") %>
    <%= text_field_tag(:schoolSearch) %>
    <br>
    <%= label_tag(:jobSearch, "Job:") %>
    <%= text_field_tag(:jobSearch) %>
    <%= submit_tag("Search") %>
<% end %>
