<% schoolQuery = "%" + params[:schoolSearch] + "%" %>
<% jobQuery = "%" + params[:jobSearch] + "%" %>

<%@list = Person.joins(:educations).joins(:positions).where("educations.school like ?", schoolQuery).where("positions.company like ?", jobQuery) %>

<% @list = @list.uniq %> 

  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      function drawChart() {

        var data = new google.visualization.DataTable();

       data.addColumn('string', 'Name'); // Name of person
       data.addColumn('number', 'Schools'); // Num Schools
       data.addColumn({'type': 'string', 'role': 'tooltip'}); //tooltip for schools
       data.addColumn('number', 'Jobs'); // Num of Jobs
       data.addColumn({'type': 'string', 'role': 'tooltip'}); //tooltip for positions

       data.addRows([
          <% @list.each do |person| %>
            <% schoolNames = '' %>
            <% person.educations.each do |place| %>
              <% schoolNames += place.school %>
              <% if (place.degree.length) > 0 %>
                <% schoolNames += ': ' + place.degree %>                
              <% end %>
              <% if (place.start_date.nil?) == false %>
                  <% schoolNames += ', ' + place.start_date %>
                <% end %>
              <%schoolNames += '\n' %>
            <% end %>

            <% companyNames = '' %>
            <% person.positions.each do |positions| %>
              <% companyNames += positions.company + ': ' + positions.title + '\n' %>
            <% end %>

          [
            '<%= person.name %>', 
            <%= person.educations.size %>, 
            '<%= schoolNames %>',  
            <%= person.positions.size %>, 
            '<%= companyNames %>'
           ],
          <% end %>
          ['',  0,  '', 0,'']
        ]);


        var options = {
          title: 'Pathways',
          isStacked: 'true',
          tooltip: {isHtml: true}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }


    </script>
  </head>
<center>
<h2>Pathways</h2>
</center>
<div id="chart_div" style="width: 1200px; height: 800px;"></div>


<table>
  <tr>
    <th>Name</th>
    <th>FirstName</th>
    <th>Schools</th>
    <th>URL</th>
    <th>Jobs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @list = @list.uniq %>  
<% @list.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.first_name %></td>
    <td><%= person.educations.size %></td>
    <td><a href="<%= person.profile_url %>"> <%= person.profile_url %> </a></td>
    <td><%= person.positions.size %></td>
  </tr>
<% end %>
</table>